COMPANY=Ender-ing GitHub Organisation
COPYRIGHT=Copyright (C) 2026 Ender-ing GitHub Organisation
VERSION=@IN_BIN_VERSION_NAME@
FILENAME=@IN_BIN_NAME@
DESCRIPTION=@IN_BIN_DESCRIPTION@
PRODUCT=Juggernyaut
PRODUCT_VERSION=@IN_MAIN_BIN_VERSION_NAME@
